//Colores
	@colorNames: 
		primary, 
		secondary, 
		light, 
		dark, 
		success, 
		danger, 
		warning, 
		alert;
	@colorValues:
		#124,
		#AAA,
		#DDD,
		#333,
		#3C2,
		#C32,
		#AA3,
		#5CC;
//Tamaños
	@w: 100%;
	@sm: 576px;
	@md: 768px;
	@lg: 992px;
	@xl: 1200px;

//Sistema de grillas
	.grid(@n, @i:1) when (@i <= @n){
		.col-@{i}{
			width: percentage(@i / @n);
		}
		.grid(@n, @i + 1);
	}
	.grid(24);
//Grilla responsive
	.mediaQuery (@vn, @vw){
		@media screen and (min-width: @vw){
			.grid(@n, @i:1) when (@i <= @n){
				.col-@{vn}-@{i}{
					width:percentage(@i / @n);
				}
				.grid (@n, @i + 1);
			}
			.grid(24);
		}
	}
	.mediaQuery(sm, @sm);
	.mediaQuery(md,@md);
	.mediaQuery(lg,@lg);
	.mediaQuery(xl,@xl);

//Colores para Texto
	.colores(
		@i:1,
		@colorNames:@colorNames,
		@colorValues: @colorValues
		) when (@i <= length(@colorNames)){
			@color:extract(@colorNames, @i);
			@value:extract(@colorValues, @i);
			.text-@{color}{
				color:@value;
			}
			.bg-@{color}{
				background-color: @value;
			}
			.border-@{color}{
				border-color: @value;
			}
			.gradient-@{color}{
				background: linear-gradient(
					lighten(@value, 30%),
					darken(@value, 30%)
				);
			}
		.colores(@i + 1);		
	}
	.colores;

//Normalize
	.normalize (@m, @p, @b){
		margin:@m;
		padding:@p;
		border:@b;
	}
	@x: 1rem;
	@borderNames: 
		top, 
		right, 
		bottom, 
		left,
		full;
	@radius: 
		@x @x 0 0, 
		0 @x @x 0, 
		0 0 @x @x, 
		@x 0 0 @x,
		@x;
	.borders(
		@r:@radius, 
		@i:1, 
		@bn:@borderNames
	) when (@i <= length(@bn)){
		@name:extract(@bn, @i);
		@value:extract(@r, @i);
		.border-@{name}{
			border-radius: @value;
		}
		.borders(@r; @i + 1);
	}
	.borders;


.lineal (@x, @i:0%) when (@i <= 100%){
	@{i}{
		transform:
			translate(
				@x + 5px,
				@x 
			);
	}
	.lineal(@x + 50px, @i + 10);
}
@keyframes lineal{
	.lineal(0px);
}

.cuadratica (@x, @i:0%) when (@i <= 100%){
	@{i}{
		transform:
			translate(
				@x * 4 + 100px,
				pow(@x, 2)/-4
			); 
	}
	.cuadratica (@x + 5, @i + 5)
}
@keyframes cuadratica{
	.cuadratica(-25px);
}

.trigonometrica (@x, @i:0%) when (@i <= 100%){
	@{i}{
		transform: 
			translate(
			@x * 10px,
			sin(@x) * 100px
			);
	}
	.trigonometrica(@x + 5px, @i + 1);
}

@keyframes trigonometrica{
	.trigonometrica(5px);
}

@anim: 
	lineal, 
	cuadratica, 
	trigonometrica, 
	exponencial, 
	limite;
.example {
	div{
		background-color: darkslateblue;
		width: 100px;
		height: 100px;
		.hijos (@anim, @i:1) when (@i <= length(@anim)){
			@an: extract(@anim, @i);
			&:nth-child(@{i}){
				animation-name: @an;
				animation-duration: 3s;
				animation-delay: 1s;
				animation-iteration-count: infinite;
			}
			.hijos (@anim, @i + 1);
		}
		.hijos(@anim);
	}
}

nav{
	label{
		z-index: 9999;
		width:1rem;
		line-height: 1rem;
		background-color:lightgrey;
		box-shadow: 0 0 5px;
	}
	input[type="checkbox"]{
		
		&:checked + .menu{
			animation-name:abrirMenu;
			animation-duration: 2s;
			animation-direction: normal;
			animation-fill-mode: forwards;
			a{
				position:relative;
				color:#ccc;
				text-decoration: none;		
				.delay (@x, @i:1) when (@i <= 5){
					&:nth-child(@{i}){
						animation-name:mostrarLink;
						animation-duration:2s;
						animation-fill-mode: fowards:;
						animation-delay: @x;
					}
					.delay(@x + .5s , @i + 1);
				}
				.delay(0s);	
			}	
		}
	}
}
	@keyframes abrirMenu{
		from{
			width:0;
			color:transparent;
			background-color: transparent;
		}
		to{
			width:50vw; /*ViewHeight ViewWidth Min-View Max-View*/
			min-width: 300px;
			max-width: 900px;
			color:#ccc;
			background-color:darkslateblue;
		}
	}
	@keyframes mostrarLink{
		.traslacion(@x, @i:0%) when (@i <= 100%){
			@{i}{
				left:@x;
				padding-left: @i * .5px;
			}
			.traslacion(@x + 10, @i + 10);
		}
		.traslacion(-100px);
	}
	.menu{
		list-style: none;
		overflow: hidden;
		width:0;
		position:fixed;
		top:0;
		bottom:0;
		left:0;
		margin:0;
		padding:0;
	}
/*Empieza con*/
a[href^="https:"]{
	color:lightgrey;
	background-color:darkblue;
}
/*Termina con*/
a[href$="com.ar"]{
	color:darkblue;
	background-color:lightgrey;
}
/*Contiene*/
a[href*="whatsapp"]{
	color:white;
	background-color:limegreen;
}
/*Contiene exactamente*/
a[title~="https://github.com"]{
	color:white;
	background-color: darkslateblue;
}