.col-1 {
  width: 4.16666667%;
}
.col-2 {
  width: 8.33333333%;
}
.col-3 {
  width: 12.5%;
}
.col-4 {
  width: 16.66666667%;
}
.col-5 {
  width: 20.83333333%;
}
.col-6 {
  width: 25%;
}
.col-7 {
  width: 29.16666667%;
}
.col-8 {
  width: 33.33333333%;
}
.col-9 {
  width: 37.5%;
}
.col-10 {
  width: 41.66666667%;
}
.col-11 {
  width: 45.83333333%;
}
.col-12 {
  width: 50%;
}
.col-13 {
  width: 54.16666667%;
}
.col-14 {
  width: 58.33333333%;
}
.col-15 {
  width: 62.5%;
}
.col-16 {
  width: 66.66666667%;
}
.col-17 {
  width: 70.83333333%;
}
.col-18 {
  width: 75%;
}
.col-19 {
  width: 79.16666667%;
}
.col-20 {
  width: 83.33333333%;
}
.col-21 {
  width: 87.5%;
}
.col-22 {
  width: 91.66666667%;
}
.col-23 {
  width: 95.83333333%;
}
.col-24 {
  width: 100%;
}
@media screen and (min-width: 576px) {
  .col-sm-1 {
    width: 4.16666667%;
  }
  .col-sm-2 {
    width: 8.33333333%;
  }
  .col-sm-3 {
    width: 12.5%;
  }
  .col-sm-4 {
    width: 16.66666667%;
  }
  .col-sm-5 {
    width: 20.83333333%;
  }
  .col-sm-6 {
    width: 25%;
  }
  .col-sm-7 {
    width: 29.16666667%;
  }
  .col-sm-8 {
    width: 33.33333333%;
  }
  .col-sm-9 {
    width: 37.5%;
  }
  .col-sm-10 {
    width: 41.66666667%;
  }
  .col-sm-11 {
    width: 45.83333333%;
  }
  .col-sm-12 {
    width: 50%;
  }
  .col-sm-13 {
    width: 54.16666667%;
  }
  .col-sm-14 {
    width: 58.33333333%;
  }
  .col-sm-15 {
    width: 62.5%;
  }
  .col-sm-16 {
    width: 66.66666667%;
  }
  .col-sm-17 {
    width: 70.83333333%;
  }
  .col-sm-18 {
    width: 75%;
  }
  .col-sm-19 {
    width: 79.16666667%;
  }
  .col-sm-20 {
    width: 83.33333333%;
  }
  .col-sm-21 {
    width: 87.5%;
  }
  .col-sm-22 {
    width: 91.66666667%;
  }
  .col-sm-23 {
    width: 95.83333333%;
  }
  .col-sm-24 {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .col-md-1 {
    width: 4.16666667%;
  }
  .col-md-2 {
    width: 8.33333333%;
  }
  .col-md-3 {
    width: 12.5%;
  }
  .col-md-4 {
    width: 16.66666667%;
  }
  .col-md-5 {
    width: 20.83333333%;
  }
  .col-md-6 {
    width: 25%;
  }
  .col-md-7 {
    width: 29.16666667%;
  }
  .col-md-8 {
    width: 33.33333333%;
  }
  .col-md-9 {
    width: 37.5%;
  }
  .col-md-10 {
    width: 41.66666667%;
  }
  .col-md-11 {
    width: 45.83333333%;
  }
  .col-md-12 {
    width: 50%;
  }
  .col-md-13 {
    width: 54.16666667%;
  }
  .col-md-14 {
    width: 58.33333333%;
  }
  .col-md-15 {
    width: 62.5%;
  }
  .col-md-16 {
    width: 66.66666667%;
  }
  .col-md-17 {
    width: 70.83333333%;
  }
  .col-md-18 {
    width: 75%;
  }
  .col-md-19 {
    width: 79.16666667%;
  }
  .col-md-20 {
    width: 83.33333333%;
  }
  .col-md-21 {
    width: 87.5%;
  }
  .col-md-22 {
    width: 91.66666667%;
  }
  .col-md-23 {
    width: 95.83333333%;
  }
  .col-md-24 {
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .col-lg-1 {
    width: 4.16666667%;
  }
  .col-lg-2 {
    width: 8.33333333%;
  }
  .col-lg-3 {
    width: 12.5%;
  }
  .col-lg-4 {
    width: 16.66666667%;
  }
  .col-lg-5 {
    width: 20.83333333%;
  }
  .col-lg-6 {
    width: 25%;
  }
  .col-lg-7 {
    width: 29.16666667%;
  }
  .col-lg-8 {
    width: 33.33333333%;
  }
  .col-lg-9 {
    width: 37.5%;
  }
  .col-lg-10 {
    width: 41.66666667%;
  }
  .col-lg-11 {
    width: 45.83333333%;
  }
  .col-lg-12 {
    width: 50%;
  }
  .col-lg-13 {
    width: 54.16666667%;
  }
  .col-lg-14 {
    width: 58.33333333%;
  }
  .col-lg-15 {
    width: 62.5%;
  }
  .col-lg-16 {
    width: 66.66666667%;
  }
  .col-lg-17 {
    width: 70.83333333%;
  }
  .col-lg-18 {
    width: 75%;
  }
  .col-lg-19 {
    width: 79.16666667%;
  }
  .col-lg-20 {
    width: 83.33333333%;
  }
  .col-lg-21 {
    width: 87.5%;
  }
  .col-lg-22 {
    width: 91.66666667%;
  }
  .col-lg-23 {
    width: 95.83333333%;
  }
  .col-lg-24 {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .col-xl-1 {
    width: 4.16666667%;
  }
  .col-xl-2 {
    width: 8.33333333%;
  }
  .col-xl-3 {
    width: 12.5%;
  }
  .col-xl-4 {
    width: 16.66666667%;
  }
  .col-xl-5 {
    width: 20.83333333%;
  }
  .col-xl-6 {
    width: 25%;
  }
  .col-xl-7 {
    width: 29.16666667%;
  }
  .col-xl-8 {
    width: 33.33333333%;
  }
  .col-xl-9 {
    width: 37.5%;
  }
  .col-xl-10 {
    width: 41.66666667%;
  }
  .col-xl-11 {
    width: 45.83333333%;
  }
  .col-xl-12 {
    width: 50%;
  }
  .col-xl-13 {
    width: 54.16666667%;
  }
  .col-xl-14 {
    width: 58.33333333%;
  }
  .col-xl-15 {
    width: 62.5%;
  }
  .col-xl-16 {
    width: 66.66666667%;
  }
  .col-xl-17 {
    width: 70.83333333%;
  }
  .col-xl-18 {
    width: 75%;
  }
  .col-xl-19 {
    width: 79.16666667%;
  }
  .col-xl-20 {
    width: 83.33333333%;
  }
  .col-xl-21 {
    width: 87.5%;
  }
  .col-xl-22 {
    width: 91.66666667%;
  }
  .col-xl-23 {
    width: 95.83333333%;
  }
  .col-xl-24 {
    width: 100%;
  }
}
.text-primary {
  color: #124;
}
.bg-primary {
  background-color: #124;
}
.border-primary {
  border-color: #124;
}
.gradient-primary {
  background: linear-gradient(#305fbe, #000000);
}
.text-secondary {
  color: #AAA;
}
.bg-secondary {
  background-color: #AAA;
}
.border-secondary {
  border-color: #AAA;
}
.gradient-secondary {
  background: linear-gradient(#f6f6f6, #5e5e5e);
}
.text-light {
  color: #DDD;
}
.bg-light {
  background-color: #DDD;
}
.border-light {
  border-color: #DDD;
}
.gradient-light {
  background: linear-gradient(#ffffff, #919191);
}
.text-dark {
  color: #333;
}
.bg-dark {
  background-color: #333;
}
.border-dark {
  border-color: #333;
}
.gradient-dark {
  background: linear-gradient(#808080, #000000);
}
.text-success {
  color: #3C2;
}
.bg-success {
  background-color: #3C2;
}
.border-success {
  border-color: #3C2;
}
.gradient-success {
  background: linear-gradient(#a1ee99, #12490c);
}
.text-danger {
  color: #C32;
}
.bg-danger {
  background-color: #C32;
}
.border-danger {
  border-color: #C32;
}
.gradient-danger {
  background: linear-gradient(#eea199, #49120c);
}
.text-warning {
  color: #AA3;
}
.bg-warning {
  background-color: #AA3;
}
.border-warning {
  border-color: #AA3;
}
.gradient-warning {
  background: linear-gradient(#e0e096, #343410);
}
.text-alert {
  color: #5CC;
}
.bg-alert {
  background-color: #5CC;
}
.border-alert {
  border-color: #5CC;
}
.gradient-alert {
  background: linear-gradient(#cbefef, #1f6969);
}
.border-top {
  border-radius: 1rem 1rem 0 0;
}
.border-right {
  border-radius: 0 1rem 1rem 0;
}
.border-bottom {
  border-radius: 0 0 1rem 1rem;
}
.border-left {
  border-radius: 1rem 0 0 1rem;
}
.border-full {
  border-radius: 1rem;
}
@keyframes lineal {
  0% {
    transform: translate(5px, 0px);
  }
  10% {
    transform: translate(55px, 50px);
  }
  20% {
    transform: translate(105px, 100px);
  }
  30% {
    transform: translate(155px, 150px);
  }
  40% {
    transform: translate(205px, 200px);
  }
  50% {
    transform: translate(255px, 250px);
  }
  60% {
    transform: translate(305px, 300px);
  }
  70% {
    transform: translate(355px, 350px);
  }
  80% {
    transform: translate(405px, 400px);
  }
  90% {
    transform: translate(455px, 450px);
  }
  100% {
    transform: translate(505px, 500px);
  }
}
@keyframes cuadratica {
  0% {
    transform: translate(0px, -156.25px);
  }
  5% {
    transform: translate(20px, -100px);
  }
  10% {
    transform: translate(40px, -56.25px);
  }
  15% {
    transform: translate(60px, -25px);
  }
  20% {
    transform: translate(80px, -6.25px);
  }
  25% {
    transform: translate(100px, 0px);
  }
  30% {
    transform: translate(120px, -6.25px);
  }
  35% {
    transform: translate(140px, -25px);
  }
  40% {
    transform: translate(160px, -56.25px);
  }
  45% {
    transform: translate(180px, -100px);
  }
  50% {
    transform: translate(200px, -156.25px);
  }
  55% {
    transform: translate(220px, -225px);
  }
  60% {
    transform: translate(240px, -306.25px);
  }
  65% {
    transform: translate(260px, -400px);
  }
  70% {
    transform: translate(280px, -506.25px);
  }
  75% {
    transform: translate(300px, -625px);
  }
  80% {
    transform: translate(320px, -756.25px);
  }
  85% {
    transform: translate(340px, -900px);
  }
  90% {
    transform: translate(360px, -1056.25px);
  }
  95% {
    transform: translate(380px, -1225px);
  }
  100% {
    transform: translate(400px, -1406.25px);
  }
}
@keyframes trigonometrica {
  0% {
    transform: translate(50px, -47.94621373px);
  }
  5% {
    transform: translate(100px, -27.20105554px);
  }
  10% {
    transform: translate(150px, 32.51439201px);
  }
  15% {
    transform: translate(200px, 45.64726254px);
  }
  20% {
    transform: translate(250px, -6.6175875px);
  }
  25% {
    transform: translate(300px, -49.4015812px);
  }
  30% {
    transform: translate(350px, -21.40913347px);
  }
  35% {
    transform: translate(400px, 37.25565802px);
  }
  40% {
    transform: translate(450px, 42.54517623px);
  }
  45% {
    transform: translate(500px, -13.11874269px);
  }
  50% {
    transform: translate(550px, -49.98775867px);
  }
  55% {
    transform: translate(600px, -15.24053106px);
  }
  60% {
    transform: translate(650px, 41.34143397px);
  }
  65% {
    transform: translate(700px, 38.69453408px);
  }
  70% {
    transform: translate(750px, -19.38908177px);
  }
  75% {
    transform: translate(800px, -49.6944327px);
  }
  80% {
    transform: translate(850px, -8.803781px);
  }
  85% {
    transform: translate(900px, 44.69983318px);
  }
  90% {
    transform: translate(950px, 34.16308574px);
  }
  95% {
    transform: translate(1000px, -25.31828206px);
  }
  100% {
    transform: translate(1050px, -48.52676418px);
  }
}
.example div {
  background-color: darkslateblue;
  width: 100px;
  height: 100px;
}
.example div:nth-child(1) {
  animation-name: lineal;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}
.example div:nth-child(2) {
  animation-name: cuadratica;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}
.example div:nth-child(3) {
  animation-name: trigonometrica;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}
.example div:nth-child(4) {
  animation-name: exponencial;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}
.example div:nth-child(5) {
  animation-name: limite;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}
